<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <title></title>
</head>
<body> 
    <main>
        <div id="MoveWidget">    <!--Ändra skiten till class-->
            <div id="CurrentTime"></div> <!-- Time Widget -->
            <div id="CurrentDate"></div>  <!-- Date widget -->
        </div> 
    </main>
    <script src="/static/moveit.js" defer></script>
    <script src="/static/time.js" defer></script>
    <script src="/static/date.js" defer></script>
</body>
</html>