<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/style.css" rel="stylesheet">
	<title>Mirror Mirror</title>
</head>

<body>
	<main id="Container">

		<div class="TimeDateWrapper Draggable">
			<div id="CurrentDate"></div>
			<div id="CurrentTime"></div>
		</div>

		<div class="CalendarWrapper Draggable">
			<div class="CalendarWidget"></div>
		</div>

		<div class="NewsWrapper Draggable">
			<div class="NewsFeed">
				<h1>Nyheter</h1>
			</div>
		</div>


		<div class="WeatherWrapper Draggable">
			<div class="WeatherWrapperInner">

				<img src="/static/icons/Unknown128.png" id="BigIcon">

				<div id="TempAndCity">
					<div id="BigTemperature">-</div>
					<div id="City">-</div>
				</div>

				<div id="Line"></div>

				<div id="DaysAll">
					<div class="Days" id="Day2">-</div>
					<div class="Days" id="Day3">-</div>
					<div class="Days" id="Day4">-</div>
					<div class="Days" id="Day5">-</div>
				</div>

				<div id="IconAll">
					<img src="/static/icons/Unknown32.png" class="SmallIcon" id="Icon1">
					<img src="/static/icons/Unknown32.png" class="SmallIcon" id="Icon2">
					<img src="/static/icons/Unknown32.png" class="SmallIcon" id="Icon3">
					<img src="/static/icons/Unknown32.png" class="SmallIcon" id="Icon4">
				</div>

				<div id="TemperatureAll">
					<div class="SmallTemperature" id="Temperature1">-</div>
					<div class="SmallTemperature" id="Temperature2">-</div>
					<div class="SmallTemperature" id="Temperature3">-</div>
					<div class="SmallTemperature" id="Temperature4">-</div>
				</div>
			</div>
		</div>


		<div class="Show" type="button">
			<div class="Down"></div>
		</div>

		<div class="SettingsMenu">
			<div class="LockDrag" type="button">
				<div class="LockOpen"></div>
			</div>

			<div class="HideWidgets" type="button">
				<div class="OpenEye"></div>
			</div>

			<button id="InfoButton"><img src="/static/SettingIcons/info_icon.png" alt="info icon"></button>

		</div>
		<div class="InfoWrapper">
			<div id="Info" class="modal">
				<div class="modal-content">
					<span class="close">&times;</span>
					<table>
						<tr>
							<th><img src="/static/SettingIcons/lock_closed_icon.png" alt="lock_icon"></th>
							<th>
								<p>Lås upp för att flytta på widgets, lås för att åter fästa dom på platts.</p>
							</th>
						</tr>
						<tr>
							<th><img src="/static/SettingIcons/eyes_open_icon.png" alt="lock_icon"></th>
							<th>Växla mellan synligt och osynligt läge för widgets. </p>
							</th>
						</tr>
				</div>
			</div>
		</div>

	</main>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/utils/Draggable.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/static/info.js" defer></script>
	<script src="/static/news.js" defer></script>
	<script src="/static/weather.js" defer></script>
	<script src="/static/moveit.js" defer></script>
	<script src="/static/time.js" defer></script>
	<script src="/static/date.js" defer></script>
	<script src="/static/calendar.js" defer></script>
	<script src="/static/settings.js" defer></script>
	<script src="/static/slider.js" defer></script>
</body>

</html>