body{
    background-color: black;
}
body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: white;
    font-weight: bold;
}


.MoveWidget {
    position: absolute;
    z-index: 9;
    color:white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    padding:10px,200px,10px,200px;
    text-align: center;
}


#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

#date{
    color:white
}




/* Nyhets-widget: Wrap runt */ 
.rss-wrap {
    border-top: 2px solid white;
    width: 540px;
    height: 200px;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

/* Nyhets-widget: Widgetbox med animation */ 
.rss-box {
    width: 540px;
    animation: nyheter 30s infinite linear;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}
@keyframes nyheter {
    to {
        transform: translateY(-100%);
        }
}

/* Nyhets-widget: Style för rss-feed */ 
.rss-box a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}     
.rss-box li {
    font-size: 12px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted white;
}
.rss-box ul {
    margin-left: 0px;
    padding: 0px;
}
/* Nyhets-widget: On mouse-over paus */ 
.rss-box:hover {
    animation-play-state: paused;
}
