body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    z-index: -10;
}

.Timedatewrapper{
    width: 7%;
    user-select: none;
}

.Nyhetswidget{
    pointer-events: none;
}

#CurrentTime{
    width: 70%;
    pointer-events: none;
}

#CurrentDate{
    width: 70%;
    pointer-events: none;
  
}

.rss {
    margin: 0px;
    padding: 0px;
    width: 540px;
    height: 200px;
    position: absolute;
    overflow: hidden;
}

/* Nyhets-widget: Widgetbox med animation */ 
.rss-box {
    width: 540px;
    position: absolute;
    pointer-events: none;
}

/* Nyhets-widget: Rubrik */ 
.rss-title {
    border-bottom: 1px solid white;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
    width: 540px;
    height: 20px;
    margin: 0px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
}

.rss-box a {
    color: white;
    font-weight: bold;
} 

.rss-box li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px dotted white;
}

/* Nyhets-widget: Sektion med autoscrool */ 
.rss-box ul {
    margin-left: 0px;
    padding: 0px;
    animation: nyheter 30s infinite linear;
}

@keyframes nyheter {
    to {transform: translateY(-100%);}
}

/* Nyhets-widget: On mouse-over paus */ 
.rss-box ul:hover {
    animation-play-state: paused;
}
/* Nyhets-widget: Slut */

/* CalendarWidget: START */
.CalendarWidget{
    pointer-events: none;
    user-select: none;
}

/* Removes month and year header from the Python calendarHTML */
.CalendarWidget table.month tbody tr th.month{
    display: none;
}

/* Places a border-bottom under each weekday */
.CalendarWidget table.month th.mon,
.CalendarWidget table.month th.tue,
.CalendarWidget table.month th.wed,
.CalendarWidget table.month th.thu,
.CalendarWidget table.month th.fri,
.CalendarWidget table.month th.sat,
.CalendarWidget table.month th.sun{
    border-bottom: 1px solid white;
    font-size: 21px;
}

/* Places a border-bottom under the monthly calendar + sets the width of the calendarwidget*/
.CalendarWidget table {
    width: 250px;
    border-bottom: 2px solid white;
    margin: 0px 0px 5px 0px;
}

/* Styling for each date in the monthly calendar*/
.CalendarWidget td {
    text-align: center;
    padding: 5px;
    font-size: 21px;
}

/* Styling for current day in calendar events - currently under construction*/

.eventSummary {
    border: 1px solid white;
    width: 42px;
}

.eventDay {
    font-size: 21px;
    margin: auto;
}

.eventMonth {
    font-size: 12px;
    color: black;
    background-color: white;
    text-align: center;
}

.eventWhenTime {
    font-size: 14px;
    }

.event {
    display: flex;
    margin-bottom: 10px;
}
.eventSummary {
    display: flex;
    flex-direction: column;
}
.eventDetails {
    margin-left: 8px;
}
/* CalendarWidget: END */